body{
  margin-left:  300px;

}
#buttons{
margin-left: 250px;
}
#slider{
    width: 600px;
    height: 400px;
    background: #000;
    border: 1px solid #000;
   
}
#slide1 {
    width: 600px;
    height: 400px;
    background: #ccc;
    border: 1px solid #000;
      position: absolute;
    
  }
#slide2,#slide3,#slide4,#slide5,#slide6,#slide7 {
    width: 600px;
    height: 400px;
    background: #cc1;
    border: 1px solid #000;
   position: absolute;
     display: none;
    
  }

img{
width: 600px;
height: 400px;

}